autopep8
cairocffi
coverage
docutils
fire
joblib
jupyter_sphinx
jyquickhelper
keyring
matplotlib
memory_profiler!=0.48.0
natsort
openpyxl
Pillow
pip>=10.0
pivottablejs
pandas
pycodestyle
pylint
pyquickhelper>=1.9.3325
requests
scikit-learn
sphinx
sphinx_readable_theme
sphinx_gallery
sphinxcontrib.imagesvg
tornado<6.0
urllib3
version_information
wheel
xgboost
