cairocffi
coverage
joblib
jyquickhelper
keyring
memory_profiler!=0.48.0
natsort
openpyxl
Pillow
pip>=10.0
pivottablejs
pyquickhelper>=1.8.2747
scikit-learn
sphinx_readable_theme
tornado<6.0
version_information
wheel
xgboost
